@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* color:
        dark brown: #3B130B
        brown #B07062
        green: #5F7161
        amarillito: #FEFAE0
        clarito: #F0ECE2

foont-family
font-family: 'Raleway', sans-serif;

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* BARRA DE NAVEGACION */

header {
    width: 100%;
    background-color: #B07062;
    list-style: none;
    padding: 0.5rem 7rem 0.5rem 5rem;
}

.barra {
    display: grid;
    grid-template-columns: 20% 30% 15% 35%;
    grid-template-areas:
    "bsimple bpbp  aside bn"
    "bsimple bba aside  bn";
}


.simple {
    padding: 1rem 0;
    letter-spacing: 1px;
    font-size: 47px;
    color: #F0ECE2;
    grid-area: bsimple;
}

.simple a{
    color:#F0ECE2;
    text-decoration: none;
}

.simple h3 {
    font-weight: 200;
}

.barraplant {
    color: #F0ECE2;
    padding: 1em 0;
    letter-spacing: 1px;
}
.pbb, .bab {
    padding: 2px 0;
    font-size: 20px;
    font-weight: 350;
}

.pbb {
    grid-area: bpbp;
}

.bab {
    grid-area: bba;
}

.ailin {
    font-weight: 100;
}

.iconos {
    grid-area: bn;
}

ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.searchIcono:focus {
    outline-color: #B07062;
    border: 3px solid #FEFAE0;
    box-shadow: #F0ECE2;
    background-color: #F0ECE2;
    color: #3B130B;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    flex-wrap: nowrap;
}

.searchIcono {
    display: flex;
    color: #F0ECE2;
    background-color: #3b130b30 ;
    border: 2px solid #f0ece241;
    border-radius: 1em;
    margin-right: 1rem;
    width: 13rem;
    height: 55px;
    font-size: 20px;
    align-self: center;
}

/*MAIN INDEX*/

.hero {
    width: 100%;
}
.cookies {
    width: 100%;
    height: 40rem;
    background-image: url(../assets/fotos/index/browniecookie.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulos{
    height: 350px;
    background-color: rgb(95, 113, 97);
    color: #FEFAE0;
    border: 5rem;
    padding: 4rem;
    font-size: 2rem;
    text-align: center;
}
.tituloS {
    letter-spacing: 5px;
    margin-bottom: 1rem;
    font-size: 90px;
    font-weight: 250;
}

.titulo2 {
    font-weight: 400;
    font-size: 60px;
    padding: 1rem;
}

.chocotorta {
    width: 100%;
    height: 100rem;
    background-image: url(../assets/fotos/index/chocotorta.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chocotorta button{
    width: 20rem;
    height: 22rem;
    background-color: #FEFAE0;
    border-radius: 5em;
    border-color: #FEFAE0;
    padding: 40px;
    color: #3B130B;
    margin-top: 8rem;
    margin: 8rem 0.5rem 0 0;
    font-size: 20px;
}

.botonRecetario img, .botonVerter img, .botonBatir img, .botonDecorar img {
    object-fit: contain;
    width: 100%;
    height: 75%;
}

.BHistoria, .BWorkshops, .BCatering, .BContactanos {
    text-align: center;
    /* padding: 1rem 0; */
    font-weight: 600;
    /* margin: 0; */
}

.frase {
    color: #FEFAE0;
    background-color: #3B130B;
    padding: 4rem 15rem;
    letter-spacing: 2px;
    text-align: center;
}

.parrafo {
    font-weight: 300;
    font-style: italic;
    line-height: 3rem;
}

.conocenos, .catering {
    display: flex;
    background-color: #FEFAE0;
    color: #3B130B;
    padding: 0 7rem;
    width: 100%;
    height: 322px;
}

.workshops, .contactanos {
    display: flex;
    background-color: #5F7161;
    color:#F0ECE2;
    padding: 0 7rem;
    width: 100%;
    height: 322px;
}

    .bp {
    max-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bp p {
    overflow: hidden;
}

.conocenos p, .catering p {
    padding: 1.5rem 0 1rem 5rem;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
}

.workshops p, .contactanos p {
    padding: 1.5rem 5rem 1rem 0;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 250;
    text-align: justify;
    letter-spacing: 1px;
}

.conocenos button, .catering button {
    /* margin-top: 1rem; */
    background-color: #5F7161;
    border-radius: 3rem;
    text-decoration: none;
    padding: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 18px;
    align-self: center;
}

.conocenos button a, .catering button a {
    text-decoration: none;
    color: #FEFAE0;
}

.workshops button, .contactanos button {
    /* margin-top: 1.5rem; */
    background-color: #FEFAE0;
    border-radius: 2.5rem;
    text-decoration: none;
    padding: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 18px;
    align-self: center;
}

.workshops button a, .contactanos button a {
    text-decoration: none;
    color:#3B130B;
}

.conocenos img, .workshops img, .catering img, .contactanos img{
    width: 580px;
    height: 100%;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #B07062;
    color: #F0ECE2;
    padding: 2rem 0 0.5rem 7rem;
    letter-spacing: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "ftitulos fdatos ficonos";
    justify-content: space-evenly;
}

.footerTitulos {
    grid-area: ftitulos;
    line-height: 0.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "simple"
    "pbp"
    "ailin";
    row-gap: 1rem;
    font-size: 18px;
    margin-bottom: 15px;
}

.fsimple {
    grid-area: simple;
    font-size: 25px;
    font-weight: 300;
}

.fpbp{
    grid-area: pbp;
    font-weight: 200;
}

.failin{
    grid-area: ailin;
    font-weight: 200;
}

.footerTitulos a {
    text-decoration: none;
    color: #F0ECE2;
}
.footerDatos {
    grid-area: fdatos;
    font-weight: 100;
    line-height: 0.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "dire"
    "tel"
    "mail";
}

.fdire {
    grid-area: dire;
}

.ftel {
    grid-area: tel;
}

.fmail {
    grid-area: mail;
}

.footerIconos {
    grid-area: ficonos;
    padding-right: 7rem;
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: flex-end;
    grid-area: fi;
}

.fig .ffb .fytb {
    display: flex;
    align-self: center;
}

/* DESK1 */

.deskconocenos {
    height: 100%;
    width: 100%;
    display: flex;
    line-height: 1.5rem;
    flex-direction: row;
}

.quienesSomos {
    height: 70rem;
    background-image: url(../assets/fotos/otras-paginas/desktop2-1.jpg);
    background-repeat: no-repeat;
    color: #3B130B;
    background-size: cover;
}

.porqueElegir {
    padding-top: 6rem;
    height: 70rem;
    background-image: url(../assets/fotos/otras-paginas/desktop2-2.jpg);
    background-repeat: no-repeat;
    color: #3B130B;
    background-size: cover;
}

.Somos, .Elegir {
    width: 100%;
    text-align: center;
    padding: 4rem;
    font-size: 24px;
    font-weight: 200;
}

.Somos h2, .Elegir h2 {
    padding-bottom: 3rem;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2px;
}

.Elegir p, .Somos p{
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

/* DESK 2 */

.deskworkshops {
    color: #3B130B;
    background-image: url(../assets/fotos/otras-paginas/desktop3.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.deskworkshops h2{
    padding-bottom: 3rem;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
}

.deskworkshops button{
    background-color: rgba(95, 113, 97, 0.6);
    color: #FEFAE0;
    width: 35rem;
    height: 10rem;
    border-radius: 2rem;
    margin: 3rem;
    font-size: 30px;
    border: none;
}

.deskworkshops button a {
    color: #FEFAE0;
    text-decoration: none;
}

/* DESK 3 */

.deskcatering{
    width: 100%;
    height: 100%;
    background-image: url(../assets/fotos/otras-paginas/desktop4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #F0ECE2;
    text-align: center;
    padding: 3rem;
}

.deskcatering h2{
    padding: 4rem 0 40rem 0;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
}

.botonesCatering button{
    height: 6rem;
    width: 25rem;
    margin: 15px;
    border-radius: 2rem;
    font-size: 33px;
}

.botonTorta a, .botonCookies a{
    color: #3B130B;
    text-decoration: none;
}

.botonTorta, .botonCookies{
    background-color: rgba(240, 236, 226, 0.894);
}

.botonAlfajores a, .botonEspeciales a{
    color: #F0ECE2;
    text-decoration: none;
}

.botonAlfajores, .botonEspeciales {
    background-color: rgba(59, 19, 11, 0.838);
}

.botonArriba, .botonAbajo {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 0.5rem 0;
    border-style: none;
}

/* DESK 4 */

.contactodesk4 {
    display: flex;
    background-color: #F0ECE2;
    color: #3B130B;
    line-height: 1.5rem;
    padding: 4.5rem 5rem;
}

.contactanosDescripcion h2 {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.contactanosDescripcion h4 {
    font-size: 24px;
    font-weight: 450;
    padding-top: 1rem;
}

.contactanosDescripcion p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 8rem 1rem 1rem;
    line-height: 1.5em;
}

.nombrecompleto, .celmail, .enviar, .mensaje {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formulario input, .formulario textarea, .formulario ::placeholder {
    font-size: 22px;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #5F7161;
    color: #FEFAE0;
    border-radius: 1rem;
}

.formulario .apellido, .formulario .email {
    padding-left: 8rem;
}

.mensaje  textarea{
    width: 42rem;
    height: 18rem;
}

.enviarForm {
    width: 10rem;
    height: 4rem;
}

.formulario input, .formulario textarea, .formulario :focus {
    outline-color: #5F7161;
}


.mapa {
    background-color: #F0ECE2;
}


/*MEDIAQUERIES*/



@media (max-width:1440px) {
    .barra {
        grid-template-columns: 15% 20% 5% 60%;
    }
    .simple h3 {
        font-size: 45px;
    }

    .pbb, .bab {
        padding-left: 2rem ;
        font-weight: 300;
        font-size: 18px;
    }

    ul {
        padding-left: 3rem;
        justify-content: end;
    }

    .titulos {
        height: 320px;
    }

    .tituloS{
        font-size: 85px;
    }

    .titulo2 {
        font-size: 57px;
    }

    .chocotorta {
        height: 94rem;
    }

    .chocotorta button {
        width: 18rem;
        height: 20rem;
        border-radius: 4.5rem;
    }

    .botonRecetario img, .botonVerter img, .botonBatir img, .botonDecorar img {
        height: 73%;
    }

    .BHistoria, .BWorkshops, .BCatering, .BContactanos {
        padding: 0.5rem 0;
    }

    .frase {
        padding: 3rem 10rem;
    }

    .conocenos, .catering, .workshops, .contactanos {
        padding: 0 6rem;
        height: 320px;
    }

    .conocenos p, .catering p {
        padding: 1.5rem 0 1.5rem 4rem;
        line-height: 28px;
    }

    .workshops p, .contactanos p {
        padding: 1.5rem 4rem 1.5rem 0;
        line-height: 28px;
    }

    .conocenos button, .catering button, .workshops button, .contactanos button{
        margin: 0.5rem;
        border-radius: 2.5rem;
    }


/*DESKTOP 2*/

    .deskworkshops button{
        width: 32rem;
    }

/*DESKTOP 4*/

    .contactanosDescripcion h2 {
        font-size: 37px;
    }
    .contactanosDescripcion h4 {
        font-size: 22px;
    }

    .contactanosDescripcion p {
        padding-right: 3.5rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 22px;
    }
}


@media (max-width:1270px) {
    .barra {
        grid-template-columns: 15% 40% 5% 40%;
    }

    .search input {
        width: 13rem;
        height: 3rem;
    }

    .iconos img {
        width: 35px;
    }
    .cookies {
        height: 35rem;
    }

    .titulos {
        height: 300px;
    }

    .tituloS {
        letter-spacing: 4px;
        margin: 0;
    }

    .titulo2 {
        font-size: 55px;
    }

    .chocotorta {
        height: 85rem;
    }

    .chocotorta button {
        width: 15rem;
        height: 18rem;
        border-radius: 4rem;
        padding: 30px;
    }

    .botonRecetario img, .botonVerter img, .botonBatir img, .botonDecorar img {
        height: 71%;
    }

    .conocenos img, .workshops img, .catering img, .contactanos img{
        width: 490px;
    }

    .footerIconos img {
        width: 35px;
    }

    /*DESK 1*/

    .deskconocenos {
        height: 100%;
        background-image: url(../assets/fotos/otras-paginas/desktop2-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .quienesSomos {
        background-image: none;
    }

    .porqueElegir {
        background-image: none;
    }

    .Somos, .Elegir {
        line-height: 3rem;
    }

    .Somos h2, .Elegir h2 {
        padding-bottom: 2rem;
        font-size: 45px;
        font-weight: 500;
    }
    .Somos p, .Elegir p {
        font-size: 24px;
    }


/* DESK 4 */

    .contactanosDescripcion p {
        padding-right: 1rem;
    }

    .nombrecompleto, .celmail, .enviar, .mensaje {
        justify-content: space-evenly;
    }

    .formulario .apellido, .formulario .email {
        padding-left: 2rem;
    }

    .nombre input, .apellido input, .telefono input, .email input{
        width: 15rem;
        height: 3rem;
    }

    .mensaje textarea {
        margin-left: 0.5rem;
        width: 33rem;
        height: 17rem;
        padding: 0;
    }

    .mapa iframe {
        height: 550px;
    }
}


@media (max-width:1118px) {

    header {
        padding-left: 4.5rem;
        padding-right: 5.5rem;
    }

    .simple h3 {
        font-size: 42px;
    }

    .pbb, .bab {
        font-size: 16px;
        margin-left: 10px;
    }

    .iconos {
        justify-content: flex-end;
    }
    .iconos img {
        width: 30px;
    }

    .titulos {
        height: 290px;
    }

    .tituloS {
        font-size: 82px;
    }

    .titulo2 {
        font-size: 54px;
    }

    .chocotorta {
        height: 75rem;
    }

    .conocenos img, .workshops img, .catering img, .contactanos img{
        width: 455px;
    }

    footer {
        grid-template-columns: 30% 50% 20%;
    }

    .footerDatos {
        justify-content: center;
    }

    .footerIconos {
        justify-content: space-around;
    }
    .footerIconos img {
        width: 30px;
    }


    /*DESK 3*/

    .deskcatering {
        height: 80%;
    }

    .deskcatering h2 {
            padding: 4rem 0 35rem 0;
            font-size: 67px;
            letter-spacing: 2px;
    }

    .botonesCatering button{
        height: 5.5rem;
        width: 20rem;
        border-radius: 2rem;
        font-size: 30px;
    }

    .botonArriba, .botonAbajo {
        gap: 4em;
    }

    /*DESK 4*/

    .contactodesk4 {
        padding: 3rem 4rem;
    }

    .contactanosDescripcion h2 {
        font-size: 38px;
        font-weight: 500;
        padding: 1rem;
    }

    .contactanosDescripcion h4 {
        font-size: 22px;
        font-weight: 450;
        padding-top: 0.5rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 21px;
    }
    .contactanosDescripcion p {
        line-height: 26px;
    }
}


@media (max-width:1024px) {

    header {
        padding-left: 3rem;
        padding-right: 4rem;
    }
    .barra {
        grid-template-columns: 20% 40% 40%;
        grid-template-areas:
        "bsimple bpbp bn"
        "bsimple bba bn";
    }

    .simple h3 {
        font-size: 40px;
    }

    .pbb, .bab {
        font-weight: 350;
    }

    .iconos img {
        width: 29px;
    }

    .cookies {
        height: 32rem;
    }

    .search input {
        width: 10rem;
        height: 3rem;
    }

    .iconos ul {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    .tituloS {
        font-size: 79px;
    }

    .titulo2 {
        font-size: 52px;
    }

    .chocotorta {
        width: 100%;
        height: 65.5rem;
    }

    .chocotorta button {
        width: 12rem;
        height: 15rem;
        border-radius: 3rem;
        padding: 25px;
        font-size: 17px;
    }

    .botonRecetario img, .botonVerter img, .botonBatir img, .botonDecorar img {
        height: 60%;
    }

    .conocenos img, .workshops img, .catering img, .contactanos img{
        width: 450px;
    }

    .frase {
        padding: 2rem 7rem;
    }

    .parrafo {
        line-height: 2.5rem;
    }

    .conocenos img, .workshops img, .catering img, .contactanos img {
        display: none;
    }

    .conocenos, .catering, .workshops, .contactanos {
        padding: 0 5rem;
        height: 270px;
    }

    .conocenos p, .catering p, .workshops p, .contactanos p {
        padding: 1rem 3rem;
        font-size: 21px;
        text-align: center;
    }

    .conocenos button, .catering button, .workshops button, .contactanos button{
        height: 3rem;
        margin: 1rem;
        font-size: 18px;
    }

    footer {
        padding-left: 4rem;
    }

    /*DESKTOP 1*/

    .Somos h2, .Elegir h2 {
        padding-bottom: 1.5rem;
        font-size: 43px;
        font-weight: 500;
    }
    .Somos p, .Elegir p {
        font-size: 22px;
    }
    .porqueElegir {
        padding-top: 3rem;
    }

    /*DESK 2*/

    .deskworkshops {
        padding: 3rem;
    }

    .deskworkshops h2{
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 67px;
        font-weight: 600;
        letter-spacing: 2.5px;
        
    }

    .deskworkshops button{
        width: 26rem;
        height: 7rem;
        margin: 2rem;
        font: 27px;
    }

    /*Desktop 3*/

    .deskcatering {
        background-size:cover;
        justify-content: center;
    }

    .deskcatering h2{
        padding: 2rem 0 33rem 0;
        font-size: 67px;
        font-weight: 550;
        letter-spacing: 2px;
    }

    .botonesCatering button{
        height: 5rem;
        width: 19rem;
        border-radius: 1.5rem;
        font-size: 30px;
    }

    /*DESKTOP 4*/

    .contactanosDescripcion h4 {
        font-size: 21px;
        padding-top: 0rem;
    }

    .nombre input, .apellido input, .telefono input, .email input{
        width: 12rem;
        height: 3rem;
    }

    .mensaje  textarea{
        width: 27rem;
        height: 15rem;
    }

    .enviarForm {
        height: 3rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 20px;
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .mapa iframe {
        height: 450px;
    }

    .footerIconos img {
        width: 29px;
    }
}


@media (max-width:950px) {

    header {
        padding-left: 2rem;
        padding-right: 3rem;
    }

    .cookies {
        height: 29rem;
    }

    .titulos {
        height: 260px;
        padding: 2rem;
    }

    .tituloS {
        font-size: 78px;
        letter-spacing: 3px;
    }

    .titulo2 {
        font-size: 50px;
    }

    .chocotorta {
        height: 60rem;
    }

    .chocotorta button {
        width: 11rem;
        height: 14rem;
        border-radius: 2.5rem;
        padding: 18px;
        font-size: 16px;
    }

    .conocenos, .catering, .workshops, .contactanos {
        padding: 0 3rem;
        height: 250px;
    }

    .conocenos p, .catering p, .workshops p, .contactanos p {
        padding: 1rem 2rem;
        font-size: 20px;
    }

    footer {
        padding: 1.5rem 0 0.5rem 3rem;
    }

    .footerDatos {
        font-size: 15px;
    }

    .footerIconos {
        padding-right: 5rem;
    }
    .footerIconos img {
        width: 28px;
    }

    /*DESK 1*/

    .Somos, .Elegir {
        padding: 2rem;
    }

    .Somos h2, .Elegir h2 {
        font-size: 39px;
        font-weight: 550;
        letter-spacing: 1px;
    }

    .Somos p, .Elegir p {
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
    }

    .porqueElegir {
        padding-top: 1.5rem;
    }

    /*DESK 3*/

    .deskcatering h2{
        padding: 2rem 0 27rem 0;
        font-size: 65px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .botonesCatering button{
        height: 4rem;
        width: 18rem;
        font-size: 28px;
    }

    /*DESK 4*/

    .contactodesk4 {
        flex-direction: column;
        align-items: flex-start;
    }


    .nombre input, .apellido input, .telefono input, .email input{
        width: 15rem;
        height: 3rem;
    }

    .mensaje  textarea{
        width: 33rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 22px;
    }

}


@media (max-width:768px) {

    header {
        padding-right: 2rem;
    }

    .barra {
        grid-template-columns: 22% 50% 28%;
        grid-template-areas:
        "bsimple bab bn";
    }
    .simple {
        padding: 0.5rem;
    }

    .simple h3 {
        padding: 0;
        font-size: 35px;
        align-self: end;
    }

    .barraplant {
        padding-bottom: 1.5rem;
        width: 100%;
        display: flex;
        align-items: end;
        letter-spacing: 0;
        font-weight: 250;
    }

    .pbb, .bab {
        padding-left: 0.5rem;
        font-size: 15px;
    }

    ul {
        padding-left: 0;
    }
    
    .search input {
        display: none;
    }

    .cookies {
        display: none;
    }

    .titulos {
        height: 230px;
        padding: 1.5rem;
    }

    .tituloS {
        font-size: 73px;
    }

    .titulo2 {
        font-size: 47px;
    }

    .chocotorta {
        height: 49rem;
    }

    .chocotorta button {
        height: 12rem;
        margin-top: 6rem;
        padding: 16px;
    }

    .frase {
        padding: 1.5rem 4rem;
    }

    .parrafo {
        line-height: 2rem;
        font-size: 21px;
    }

    .conocenos, .catering, .workshops, .contactanos {
        padding: 0.5rem;
        height: 220px;
    }

    .conocenos p, .catering p, .workshops p, .contactanos p {
        padding: 1rem;
        font-size: 18px;
        font-weight: 400;
    }

    .conocenos button, .catering button, .workshops button, .contactanos button{
        height: 2.5rem;
        margin: 0.5rem;
    }

    /*DESK 1*/

    .deskconocenos {
        background-position: center;
    }

    .Somos h2, .Elegir h2 {
        font-size: 35px;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    .Somos p, .Elegir p {
        line-height: 25px;
    }

    /*DESK 2*/

    .deskworkshops {
        padding: 2.5rem;
    }

    .deskworkshops h2 {
        font-size: 64px;
        letter-spacing: 2px;
    }

    .deskworkshops button{
        width: 24rem;
        height: 6.5rem;
        margin: 1.5rem;
        font: 25px;
        background-color:#f0ece2ca;
    } 

    .deskworkshops button a {
        color: #3B130B;
    }

    /*DESK 3*/

    .deskcatering h2 {
        padding: 2rem 0 23rem 0;
        font-size: 64px;
    }

    .botonesCatering button{
        height: 4.5rem;
        width: 16rem;
        font-size: 26px;
    }

    /*DESK 4*/

    .contactodesk4 {
        padding: 3rem;
    }

    /*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "ftitulos ficonos"
        "ftitulos aside"
        "ftitulos aside";
    }

    .footerDatos {
        display: none;
    }

    .footerIconos {
        padding-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}

@media (max-width:650px) {

    .barraplant {
        padding-bottom: 15px;
    }

    .pbb, .bab {
        font-size: 15px;
        font-weight: 250;
        gap: 1em;
    }


    .shopping, .search {
        display: none;
    }


    .tituloS {
        font-size: 69px;
    }

    .titulo2 {
        font-size: 43px;
    }
    
    .chocotorta button {
        margin: 3rem;
    }

        /*DESK 3*/

        .deskcatering {
            background-position: center;
        }
        .deskcatering h2 {
            padding-bottom: 13rem;
            font-size: 62px;
        }
    
        .botonesCatering button{
            font-size: 27px;
            font-weight: 500;
            width: 18rem;
        }

        .botonArriba, .botonAbajo {
            gap: 1em;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
}

@media (max-width:620px) {
    .pbb {
        display: none;
    }

    .bab {
        margin-left: 2rem;
        font-size: 16px;
    }

    .titulos {
        height: 220px;
    }

    .tituloS {
        letter-spacing: 2px;
        font-size: 67px;
    }

    .titulo2 {
        font-size: 40px;
    }

    .chocotorta {
        height: 39rem;
    }

    .parrafo {
        font-size: 19px;
    }

    .conocenos p, .catering p, .workshops p, .contactanos p {
        font-size: 17px;
    }

    /*DESK 1*/

    .Somos h2, .Elegir h2 {
        font-size: 32px;
    }

    .Somos p, .Elegir p {
        font-size: 18px;
        line-height: 23px;
    }

    /*desk 2*/


    .deskworkshops {
        background-position: center;
    } 

    .deskworkshops button {
        width: 21rem;
        height: 6.0rem;
    } 


    /*desk 4*/

    .contactodesk4 {
        padding: 1.5rem;
    }

    .contactanosDescripcion h2 {
        font-size: 34px;
    }

    .contactanosDescripcion h4 {
        font-size: 20px;
    }

    .contactanosDescripcion p {
        line-height: 22px;
        font-size: 18px;
    }

    .nombre input, .apellido input, .telefono input, .email input{
        width: 13rem;
        height: 3rem;
    }

    .mensaje  textarea{
        width: 31rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 20px;
    }

}


@media (max-width:550px) {

    .barra {
        grid-template-columns: 40% 50% 10%;
    }

    .bab {
        justify-self: start;
        margin-left: 0;
    }
    .titulos {
        height: 180px;
    }

    .tituloS {
        font-size: 62px;
    }

    .titulo2 {
        font-size: 35px;
    }

    .chocotorta {
        height: 35rem;
    }

    .chocotorta button {
        margin: 1rem;
    }

    .frase {
        display: none;
    }

    .conocenos, .catering, .workshops, .contactanos {
        padding: 0.5rem;
        height: 225px;
    }
    .conocenos p, .catering p, .workshops p, .contactanos p {
        font-size: 16px;
    }

    .conocenos button, .catering button, .workshops button, .contactanos button {
        margin: 0.5rem;
        font-size: 16px;
    }

    /*DESK 1*/

    .deskconocenos {
        flex-direction: column;
        background-size: cover;
        height: 100%;
    }

    .quienesSomos{
        height: 15rem;
        padding: 1rem 3rem;
        margin-bottom: 5rem;
    }

    .porqueElegir {
        height: 25rem;
        padding: 1rem 2rem;
        margin-bottom: 35rem;
    }

    .Somos h2, .Elegir h2 {
        font-size: 30px;
        font-weight: 400px;
        padding-bottom: 1rem;
        line-height: 2rem;
    }

    .Somos p, .Elegir p {
        font-size: 18px;
        line-height: 25px;
    }

    /*DESK 4*/
    
    .nombrecompleto, .celmail, .enviar, .mensaje {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .formulario .apellido, .formulario .email {
        padding-left: 0;
    }

    .mensaje  textarea{
        width: 23.5rem;
        margin-left: 0;
    }

    .mensaje {
        padding-left: 0;
    }

}

@media (max-width:425px) {

    header {
        padding: 0.5rem 1rem;
    }

    .barra {
        grid-template-columns: 45% 40% 15%;
        grid-template-areas:
        "bsimple bab bn";
    }

    .simple h3 {
        font-size: 30px;
        align-self: start;
        padding: 0;
    }

    .barraplant {
        padding: 0;
        display: flex;
    }

    .bab {
        padding: 0;
        align-self: center;
        /* margin-top: 5px; */
    }

    .titulos {
        height: 150px;
    }

    .tituloS {
        font-size: 50px;
        letter-spacing: 0;
    }

    .titulo2 {
        font-size: 25px;
        font-weight: 300;
    }

    .chocotorta {
        background-image: none ;
        background-color: #3B130B;
        height: 100%;
    }

    .secciones {
        flex-direction: column;
        align-content: center;
    }

    .chocotorta button {
        display: flex;
        width: 20rem;
        height: 9rem;
        margin-top: 1.5rem;
        padding: 12px;
        align-items: center;
        overflow: hidden;
    }

    .botonRecetario img, .botonBatir img {
        width: 60%;
        height: 50%;
    }
    .botonVerter img, .botonDecorar img {
        width: 70%;
        height: 60%;
    }

    /*footer*/
    
    .fpbp, .failin, .fsimple {
        display: none;
    }

    .footerTitulos {
        margin: 0;
    }

    .footerIconos {
        padding: 0;
        margin-top: 0;
        justify-self: center;
        /* justify-content: center;
        align-self: flex-start; */
        width: 29px;
    }
    
    footer {
        display: flex;
        padding: 2rem 1rem 1.5rem 1rem;
    }


    /*DESK 1*/

    .deskconocenos {
        background-image: none;
        background-color:rgb(95, 113, 97);
        color: #F0ECE2;
        padding: 2.5rem;
        height: 50rem;
    }

    .quienesSomos {
        height: 100%;
        margin-bottom: 2rem;
        padding: 0;
    }

    .Somos {
        color: #F0ECE2;
        padding: 0;
    }
    .Elegir {
        padding: 0;
    }
    .porqueElegir {
        margin: 0;
        margin-bottom: 2rem;
        color: #F0ECE2;
        padding: 0;
        height: 100%;
    }

    /*DESK 2*/

    .deskworkshops {
        background-image: none;
        background-color: #F0ECE2;
        height: 50rem;
        justify-content: space-evenly;
    }

    .deskworkshops h2 {
        font-size: 50px;
        margin-bottom: 1.5rem;
    }

    .deskworkshops button {
        background-color: #5f7161c1;
        width: 16rem;
        font-size: 24px;
        font-weight: 500;
    }

    /*DESK 3*/

    .deskcatering {
        background-image: none;
        background-color: #3B130B;
        height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .deskcatering h2 {
        padding: 0;
        margin-bottom: 1.5rem;
        font-size: 50px;
    }

    .botonAbajo button {
        background-color: rgba(240, 236, 226, 0.894);
    }
    .botonAlfajores a , .botonEspeciales a {
        color: #3B130B;
    }
    .botonesCatering button{
        width: 16rem;
        border-radius: 1rem;
        font-size: 24px;
    }

    /*DESK 4*/

    .contactodesk4 {
        padding: 1rem;
    }

    .contactanosDescripcion h2 {
        font-size: 30px;
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0.5rem;
    }

    .contactanosDescripcion h4 {
        font-size: 18px;
    }

    .contactanosDescripcion p {
        line-height: 20px;
        font-size: 16px;
        padding: 0.5rem;
        padding-left: 1rem;
    }

    .nombre input, .apellido input, .telefono input, .email input{
        width: 10rem;
        height: 2.5rem;
    }

    .formulario input, .formulario textarea, .formulario ::placeholder {
        font-size: 16px;
        border-radius: 0.5rem;
    }

    .mensaje  textarea{
        width: 21.5rem;
    }

}

@media (max-width:375px) {

    header {
        padding: 5px 25px 5px 10px;
    }

    .simple {
        font-size: 25px;
        padding: 0;
        justify-self: center;
        align-self: center;
    }

    .bab {
        align-self: center;
    }

    .iconos {
        align-self: self-start;
    }

    .chocotorta button {
        width: 18rem;
    }

    .botonDecorar img {
        width: 75%;
        height: 70%;
    }

    .conocenos button, .catering button, .workshops button, .contactanos button {
        margin: 10px;
    }

    .conocenos, .workshops, .catering, .contactanos {
        display: none;
    }
    
    /*DESK 1*/

    .deskconocenos {
        height: 52rem;
        padding: 1.5rem 2rem;
    }

    /*DESK 2*/

    .deskworkshops h2 {
        font-size: 45px;
        margin-bottom: 0;
    }

    /*desk 3*/

    .deskcatering {
        padding: 2rem;
    }

    .deskcatering h2 {
        margin-bottom: 0;
        font-size: 45px;
    }

    /*DESK 4*/

    .mensaje  textarea{
        width: 18rem;
    }

    footer {
        padding: 2rem 0rem 1.5rem 2rem;
    }
}