/*
        dark brown: #3B130B
        brown #B07062
        green: #5F7161
        amarillito: #FEFAE0
        clarito: #F0ECE2      
*/

$color-darkbrown : #3B130B;
$color-brown: #B07062;
$color-green: #5F7161;
$color-amarillito: #FEFAE0;
$color-clarito: #F0ECE2;
