
    .contactodesk4{
        display: flex;
        background-image: linear-gradient(to bottom, #f0ece2, #f4efe1, #f8f3e1, #fbf6e0, #fefae0);
        color: $color-darkbrown;
        line-height: 1.5rem;
        padding: 4.5rem 5rem;
        .contactanosDescripcion {
            h2 {
                font-size: 40px;
                font-weight: 500;
                display: flex;
                flex-direction: column;
            }
            p {
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 1px;
                padding: 1.5rem 8rem 1rem 1rem;
                line-height: 1.5em;
            }
            h4 {
                font-size: 24px;
                font-weight: 450;
                padding-top: 1rem;
            }
        }
        .formulario {
            &:focus {
                outline-color: $color-green;
            } 
            form {
                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 30px;
                    label{
                        input {
                            font-size: 24px;
                            padding: 1rem;
                            margin-top: 1.5rem;
                            background-color: $color-green;
                            color: $color-amarillito;
                            border-radius: 1rem;
                            &:focus {
                                outline-color: $color-green;
                            }
                        }
                    }
                    .apellido {
                        padding-left: 8rem;
                    }
                    .email {
                        @extend .apellido;
                    }
                    textarea {
                        width: 38rem;
                        height: 18rem;
                        font-size: 24px;
                        padding: 1rem;
                        margin-top: 1.5rem;
                        background-color: $color-green;
                        color: $color-amarillito;
                        border-radius: 1rem;
                        outline-color: $color-green;
                    }
                    & ::placeholder {
                        font-size: 24px;
                        padding: 1rem;
                        margin-top: 1.5rem;
                        background-color: $color-green;
                        color: $color-amarillito; ;
                    }
                }
            }
        }
    }
    .mapa{
        padding: 0;
        iframe {
            background-color: $color-clarito;
            }   
    }


