
header {
    width: 100%;
    background-color: $color-brown;
    nav {
        @include grid (20% 20% 26% 20% 7% 7%,auto,"simple plant aside lupa bag menu",1px);
        height: 100px;
        width: 100%;
        justify-items: center;
        align-items: center;
        .simple {
            grid-area: simple;
            padding: 20px;
            letter-spacing: 1px;
            font-size: 47px;
            color: $color-clarito;
            a{
                color:$color-clarito;
            }
            h3 {
                font-weight: 200;
            }
        }
        .barraplant {
            grid-area: plant;
            color: $color-clarito;
            padding: 1em 0;
            letter-spacing: 1px;
            h4 {
                em {
                padding: 2px 0;
                font-size: 20px;
                font-weight: 350;
                }
            }
            h5 {
                padding: 2px 0;
                font-size: 20px;
                font-weight: 350;
                span {
                    @extend h5;
                    font-weight: 100;
                }
            }
        }
        #check {
            display: none;
        }
        #check:checked  ~ .nav-menu {
            height: 380px;
        }
        #check:checked  ~ .nav-menu li {
            display: block;
        }
        .shopping {
            grid-area: bag;
            label {
                font-size: 37px;
                color: $color-amarillito;
                margin: 0 20px;
            }
        }
        .menu {
            grid-area: menu;
            font-size: 37px;
            color: $color-amarillito;
            margin-right: 30px ;
        }
        .search {
            grid-area: lupa;
            @extend .shopping;
            label {
                @include flex (row, nowrap, center, center);
                input {
                    display: flex;
                    color: $color-amarillito;
                    background-color: #3B130B30;
                    border: 2px solid #FEFAE041;
                    border-radius: 20px;
                    margin-right: 14px;
                    width: 12rem;
                    height: 50px;
                    font-size: 20px;
                    align-self: center;
                }
                &:focus {
                    outline-color: $color-brown;
                    border: 3px solid $color-amarillito;
                    box-shadow: $color-amarillito;
                    background-color: $color-amarillito;
                    color: $color-darkbrown; 
                }
            }
        }
        ul {
            position: absolute;
            width: 100%;
            height: 0vh;
            top: 100px;
            background: $color-brown; 
            text-align: center;
            transition: all .03s;
            li {
                display: none;
                line-height: 60px;
                transition: all .3s;
                a {
                    color: $color-darkbrown;
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 800;
                    &.active {
                        color: $color-amarillito;
                        transition: .02s;
                        transform: scale(0.5);
                    }
                    &:hover {
                        color: $color-amarillito;
                        transition: .02s;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }   
}
