
@media (max-width:1270px) {
    body {
        header {
            nav {
            grid-template-columns: 20% 20% 18% 24% 9% 9%;
        }
    } 
        main {
            .hero {
                .cookies {
                    height: 35rem;
                }
                .titulos {
                    height: 300px;
                    h1 {
                        letter-spacing: 4px;
                        margin: 0;
                    }
                    h2{
                        font-size: 55px;
                    }
                }
                .chocotorta {
                    height: 85rem;
                    .botones {
                        div {
                            button {
                                width: 15rem;
                                height: 18rem;
                                border-radius: 4rem;
                                padding: 20px;
                            }
                            & :hover {
                                h2 {
                                font-size: 34px;
                                font-weight: 550;
                            }
                        }
                    }
                }
            }
                .secciones {
                    img{
                        width: 490px;
                        }
                    }
                }
            }    
        
        footer {
            .footerIconos {
                ul {
                    li {
                        a{
                            img {
                                width: 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*DESK 1*/

.deskconocenos {
    height: 100%;
    background-image: url(../assets/fotos/otras-paginas/desktop2-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .desk1 {
        background-image: none;
        article {
            line-height: 3rem;
            h2 {
                padding-bottom: 2rem;
                font-size: 45px;
                font-weight: 500;
                }
            p {
            font-size: 24px;
            }
        }
    }
    .Elegir {
        padding-top: 4rem;
    }
}


/* DESK 4 */

    .contactodesk4 {
            .contactanosDescripcion{
                p {
                    padding-right: 1rem;
                }
            }
            .formulario {
                form {
                    div {
                        justify-content: space-evenly;
                        label {
                            input{
                                width: 13.5rem;
                                height: 3.5rem;
                            }
                        }
                        textarea {
                            margin-left: 0.5rem;
                            width: 32.5rem;
                            height: 17rem;
                            padding: 0;
                        }
                        .der {
                            padding-left: 2rem; //checkear aca @extend
                        }
                    }
                }
            }
        }
        .mapa {
            iframe {
                height: 33rem;
            }
        }
}
