
@media (max-width:375px) {
body {
    header {
        padding: 5px 25px 5px 10px;
        section {
            grid-template-columns: 35% 50% 15%;
            div {
                a{
                    h3{
                        font-size: 25px;
                        padding: 0;
                        justify-self: center;
                        align-self: center;
                    }
                }
                h3 {
                    font-size: 25px;
                    padding: 0;
                    justify-self: center;
                    align-self: center;
                }
            }
            .barraplant {
                h5 {
                    align-self: center;
                }
            }
            .iconos {
                align-self: self-start;
            }
        }
    }
    main {
        .hero {
            .chocotorta {
                .botones {
                    div {
                        button {
                            border-radius: 40px;
                            width: 16rem;
                            h2{
                                font-size: 22px;
                            }
                            a {
                                img {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
            .secciones {
                display: none;
            }
        }
    }
    footer {
        padding: 2rem ;
    }
}

    
    /*DESK 1*/

    .deskconocenos {
        height: 52rem;
        padding: 1.5rem 2rem;
    }

    /*DESK 2*/

    .deskworkshop {
        h2 {
        font-size: 45px;
        margin-bottom: 0;
        }
    }
    /*desk 3*/

    .deskcatering {
        padding: 1.5rem;
        h2 {
            margin-bottom: 0;
            font-size: 45px;
        }
    }

}