
@media (max-width:425px) {
body {
    header {
        nav {
            grid-template-columns: 40% 45% 15%;
            .simple {
                h3 {
                    font-size: 33px;
                    padding: 0;
                }
                a{
                    h3 {
                        font-size: 33px;
                        padding: 0;
                    }
                }
            }
            .barraplant {
                h5 {
                    font-size: 20px;
                    font-weight: 200;
                    i{
                        strong {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    main {
        .hero {
            .titulos {
                height: 150px;
                h1 {
                    font-size: 50px;
                    letter-spacing: 0;
                }
                h2 {
                    font-size: 25px;
                    font-weight: 300;
                }            
            }
            .chocotorta {
                background-image: none ;
                background-color: $color-darkbrown;
                height: 100%;
                .botones {
                    flex-direction: column;
                    align-content: center;
                    div {
                        button {
                            width: 15rem;
                            height: 11rem;
                            padding: 10px;
                            a{
                                img {
                                    height: 100%;
                                    width: 85%;
                                }
                            }
                        }
                        & :hover {
                            h2 {
                            font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        padding-top: 2rem;
        display: flex;
        .footerTitulos{
            display: none;
        }
        .footerIconos {
            margin-top: 0;
            align-content: center;
            justify-content: center;
            ul {
                padding: 0;
            }
        }
    }
}

    /*DESK 1*/

    .deskconocenos {
        background-image: none;
        background-color:$color-green;
        padding: 2rem 2.5rem;
        height: 50rem;
        .desk1 {
            margin-bottom: 0;
            height: 100%;
            padding: 0;
            color: $color-clarito;
            article {
                padding: 0;
                h2 {
                    color: $color-clarito;
                }
                p{
                    padding: 1rem;
                }
            }
        }
        .Elegir {
            margin: 0;
        }
    }

    /*DESK 2*/

    .deskworkshop {
        background-image: none;
        background-color: $color-amarillito;
        height: 49rem;
        justify-content: space-evenly;
        padding: 1.5rem;
        h2 {
            font-size: 50px;
            margin-bottom: 0;
        }
        div {
            button {
                background-color: $color-green;
                width: 17rem;
                margin: 0.5rem;
                a{
                    font-size: 24px;
                    font-weight: 500;
                }
                & :hover {
                    width: 18rem;
                    height: 6.5rem;
                    font-size: 26px;
                    font-weight: 350;
                }
            }
        }
    }

    /*DESK 3*/

    .deskcatering {
        background-image: none;
        background-color: #3B130B;
        height: 49rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2 {
            padding: 0;
            margin-bottom: 1.5rem;
            font-size: 50px;
            font-weight: 500;
        }
        section {
            .catering {
                padding: 0;
                justify-content: center;
                gap: 0;
                button{
                    width: 16rem;
                    border-radius: 1.5rem;
                    background-color: $color-clarito;
                    a{
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
            }
            .Abajo {
                button {
                    a {
                        color: $color-darkbrown;
                    }
                }
            }
        }
    }


    /*DESK 4*/

    .contactodesk4 {
        padding: 1rem;
        .contactanosDescripcion {
            h2 {
                font-size: 30px;
                padding-bottom: 0;
                padding-left: 0;
                margin-bottom: 0.5rem;
            }
            h4 {
                font-size: 18px;
            }
            p {
                line-height: 20px;
                font-size: 16px;
                padding: 0.5rem;
                padding-left: 1rem;
            }
        }
        .formulario {
            form {
                div {
                    label {
                        input{
                            width: 10rem;
                            height: 2.5rem;
                            font-size: 16px;
                            border-radius: 10px;
                        }
                        & ::placeholder {
                            font-size: 16px;
                        }                     
                    }
                }
                .mensaje {
                    textarea{
                        font-size: 16px;
                        border-radius: 10px;
                        width: 16rem;
                    }
                    & ::placeholder {
                        font-size: 16px;
                    }
                }
                .enviar {
                    input {
                        font-size: 16px;
                        height: 2.5rem;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}