
@media (max-width:620px) {
    body {
        main {
            .hero {
                .titulos {
                    height: 220px;
                    h1 {
                        letter-spacing: 2px;
                        font-size: 67px;
                    }
                    h2 {
                        font-size: 40px;
                    }
                }
                .chocotorta {
                    height: 39rem;
                    .botones {
                        div {
                            button{
                                width: 13rem;
                                height: 14rem;
                                img {
                                    height: auto;
                                }
                            }
                            & :hover {
                                h2 {
                                font-size: 30px;
                                font-weight: 550;
                                }
                            }
                        }
                    }
                }
                .frase {
                    h2 {
                        font-size: 19px;
                    }
                }
                .secciones {
                    .bp {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    } 

    /*DESK 1*/

    .deskconocenos {
        .desk1 {
            article{
                h2 {
                    font-size: 32px;
                }
                p {
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
    }

    /*desk 2*/


    .deskworkshop {
        background-position: center;
        h2{
            font-size: 58px;
            font-weight: 500;
        }
        div {
            button {
                width: 21rem;
                height: 6.0rem;
                transition: 0.2s;
                & :hover {
                    width: 23rem;
                    height: 7rem;
                    font-size: 28px;
                }
            } 
        }
    } 


    /*desk 4*/

    .contactodesk4 {
        padding: 1.5rem;
        .contactanosDescripcion {
            h2 {
                font-size: 34px;
            }
            h4 {
                font-size: 20px;
            }
            p {
                line-height: 22px;
                font-size: 18px;
            }
        }
        .formulario {
            form {
                div {
                    label {
                        input {
                            width: 13rem;
                            height: 3rem;
                            font-size: 20px;
                        }
                    }
                    textarea{
                        width: 31rem;
                        font-size: 20px;
                    }
                    & ::placeholder {
                        font-size: 20px;
                    }
                }
            }
        }
    }


}