
@media (max-width:550px) {
body {
    header {
        nav{
            grid-template-columns: 35% 50% 15%;
            .barraplant {
                display: flex;
                margin: 0;
                justify-content: start;
                padding: 10px 0 0 4px;
                h4 {
                    display: none;
                }
                h5 {
                    font-size: 20px;
                }
            }
            #check:checked  ~ .nav-menu {
                height: 290px;
            }
            ul {
                li {
                    line-height: 50px;
                    a{
                        font-size: 23px;
                    }
                }
            }
        }
    }
    main {
        .hero {
            .titulos {
                height: 180px;
                h1 {
                    font-size: 62px;
                }
                h2 {
                    font-size: 35px;
                }
            }
            .chocotorta {
                height: 35rem;
                .botones {
                    justify-content: space-evenly;
                    div {
                        button {
                            width: 11rem;
                            height: 11.5rem;
                            padding: 10px;
                            margin: 16px;
                        }
                        & :hover {
                            h2 {
                            font-size: 26px;
                            }
                        }
                    }
                }
            }
            .frase {
                display: none;
            }
            .secciones {
                height: 225px;
                .bp {
                    p {
                        font-size: 16px;
                    }
                    button {
                        margin: 0.5rem;
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }    
    }
}


    /*DESK 1*/

    .deskconocenos {
        flex-direction: column;
        background-size: cover;
        height: 100%;
        .desk1 {
            height: 15rem;
            padding: 1rem 3rem;
            margin-bottom: 5rem;
            article {
                h2 {
                    font-size: 30px;
                    font-weight: 400px;
                    padding-bottom: 1rem;
                    line-height: 2rem;
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        .Elegir {
            height: 25rem;
            padding: 1rem 2rem;
            margin-bottom: 35rem;
        }
    }

    /*DESK 4*/
    
    .contactodesk4 {
        .formulario {
            form {
                div {
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 20px;
                    padding: 0;
                    gap: 20px;
                    label {
                        input{
                            margin: 0;
                        }
                    }
                    .der {
                        padding-left: 0;
                    }
                }
                .mensaje {
                    textarea {
                        margin: 0;
                        width: 20rem;
                    }
                }
                .enviar {
                    margin: 20px;
                    width: 50%;
                    input {
                        margin: 0;
                        width: 7rem;
                        height: 3rem;
                        font-size: 20px;
                    }
                }
            }
        }
    }

}