
@media (max-width:1118px) {
    body {
        header {
            nav {
                grid-template-columns: 20% 20% 15% 25% 10% 10%;
                .simple{
                    padding: 0;
                    h3 {
                        font-size: 42px;
                    }
                    a{
                        h3 {
                            font-size: 42px;
                        }
                    }
                }
                .barraplant {
                    h4 {
                        em {
                            font-size: 16px;
                            margin-left: 10px;
                        }
                    }
                    h5{
                        font-size: 16px;
                        margin-left: 10px;
                        span {
                            margin: 3px;
                        }
                    }
                }
                #check:checked  ~ .nav-menu {
                    height: 370px;
                }
                ul {
                    li {
                        line-height: 57px;
                        a {
                            font-size: 32px;
                        }
                    }
                }
            }    
        }
    
        main {
            .hero {
                .titulos {
                    height: 290px;
                    h1 {
                        font-size: 82px;
                    }
                    h2 {
                        font-size: 54px;
                    }
                }
                .chocotorta {
                    height: 75rem;
                    .botones {
                        div {
                            button {
                                a {
                                    img{
                                        height: 80%;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        footer {
            grid-template-columns: 25% 50% 25%;
                .footerDatos {
                    justify-content: center;
                }
                .footerIconos {
                    justify-content: space-around;
                    ul {
                        li {
                            a{
                                img {
                                    width: 33px;
                                }
                            }
                        }
                    }
                }
            }
        }  


    /*DESK 3*/

    .deskcatering {
        overflow: hidden;
        height: 100%;
        h2 {
            padding: 1.5rem 0 24rem 0;
            font-size: 67px;
            letter-spacing: 2px;
        }
        section {
            div {
                button {
                    height: 5rem;
                    width: 20rem;
                    border-radius: 2rem;
                    font-size: 30px;
                }
            }
        }
    }


    /*DESK 4*/

    .contactodesk4 {
        padding: 3rem 3.5rem;
        .contactanosDescripcion {
            h2{
                font-size: 38px;
                font-weight: 500;
                padding: 1rem;
            }
            h4 {
                font-size: 22px;
                font-weight: 450;
                padding-top: 0.5rem;
            }
            p {
                line-height: 26px;
            }
        }
        .formulario {
            form {
                div {
                    label {
                        input {
                            font-size: 21px;
                        }
                    }
                    textarea {
                        font-size: 21px;
                    }
                    & ::placeholder{
                        font-size: 21px;
                    }
                }
            }
        }
    }

}