
@media (max-width:375px) {
body {
    header {
        nav{
            grid-template-columns: 40% 40% 20%;
            height: 80px;
            div {
                a{
                    h3{
                        font-size: 30px;
                        padding: 0;
                        justify-self: center;
                        align-self: center;
                    }
                }
                h3 {
                    font-size: 25px;
                    padding: 0;
                    justify-self: center;
                    align-self: center;
                }
            }
            .barraplant {
                display: none;
            }
            #check:checked  ~ .nav-menu {
                height: 240px;
            }
            ul {
                top: 80px;
                li {
                    line-height: 45px;
                    a {
                        font-size: 20px;
                        
                    }
                }
            }
        }
    }
    main {
        .hero {
            .chocotorta {
                .botones {
                    div {
                        button {
                            border-radius: 40px;
                            width: 16rem;
                            h2{
                                font-size: 22px;
                            }
                            a {
                                img {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
            .secciones {
                display: none;
            }
        }
    }
}

    
    /*DESK 1*/

    .deskconocenos {
        height: 52rem;
        padding: 1.5rem 2rem;
    }

    /*DESK 2*/

    .deskworkshop {
        h2 {
        font-size: 45px;
        margin-bottom: 0;
        }
    }
    /*desk 3*/

    .deskcatering {
        padding: 1.5rem;
        h2 {
            margin-bottom: 0;
            font-size: 45px;
        }
    }

}